{% extends "base.html" %}

{% block contents %}
      <div class="row-fluid">
        <div class="span12">
          <h3>{{ deckname }}</h3>
          <ul>
            <li>作成者: {{ user }}</li>
            <li>作成日時: {{ date }}</li>
            <li>コメント: {{ comment }}</li>
          </ul>
        </div>
      </div>

      <div class="row-fluid deck">
        <div class="span8">
          <img class="placeholder"/>
        </div>
        <div class="span4">
          <ul>
            <li>Lv1: n</li>
            <li>Lv2: m</li>
            <li>Lv3: l</li>
          </ul>
          <p><a href="{{ blog_parts_url }}">このレシピをブログに埋め込む</a></p>
          <p><a href="{{ permanent_link }}">このレシピへのリンクを取得する</a></p>
        </div>
      </div>

      <div class="deck">
        <table class="table table-hover">
          <caption>カード一覧</caption>
          <thead>
            <tr>
              <th>カードID</th>
              <th>カード名</th>
              <th>Lv</th>
              <th>色</th>
              <th>ソウル</th>
              <th>攻撃力</th>
            </tr>
          </thead>
          <tbody>
            {% for elm in cards %}
            <tr>
              <td><a href="{{ elm.url }}">{{ elm.id }}</a></td>
              <td><a href="{{ elm.url }}">{{ elm.name }}</a></td>
              <td>{{ elm.level }}</td>
              <td>{{ elm.color }}</td>
              <td>{{ elm.soul }}</td>
              <td>{{ elm.attack }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <!-- disqus -->

      <div class="row-fluid comment">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'weisonweb'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>    
      </div>

      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'weisonweb'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>

      <!-- end disqus -->

{% endblock %}




