{% extends "base.html" %}

{% block navbar %}
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
{% endblock %}

{% block contents %}
      <div class="jumbotron">
        <h1>WeisOnWeb(仮)</h1>
        <p class="lead">WoW(仮)ではデッキレシピの共有、オンライン対戦ができます。</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>人気のデッキレシピ</h4>
          <p>ほげほげ</p>
        </div>

        <div class="span6">
          <h4>最近の対戦</h4>
          <p>ほげほげ</p>
        </div>
      </div>
{% endblock %}


