{% extends "base.html" %}

{% block contents %}

      <h2>デッキレシピ検索</h2>

      <div class="row-fluid">
        <form class="form-horizontal" id="search-recipe" action="/search" method="POST" role="form">
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="デッキ名, タグ, 含まれるカード..."/>
            <button type="submit" class="btn btn-default">検索</button>
          </div>
        </form>
      </div>

      <hr>

      <div class="fluid">

        <p>{{ query }} の検索結果: {{ hit_count }} 件</p>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>デッキ名</th>
              <th>作成者</th>
              <th>作成日時</th>
              <th>タグ</th>
            </tr>
          </thead>
          <tbody>
            {% for elm in deck_list %}
            <tr>
              <td><a href="{{ elm.url }}">{{ elm.name }}</a></td>
              <td>{{ elm.user }}</td>
              <td>{{ elm.date }}</td>
              <td>{{ elm.tags }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}
